[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-text-splitters = "*"
langchain-community = "*"
langchain = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
